Login page ...

<form action="/login" method="post">
  <div class="">
    <label for="login-form-email">Email: </label>
    <input type="text" name="author[email]" value="" id="login-form-email">
  </div>
  <div class="">
    <label for="login-form-password">Password: </label>
    <input type="text" name="author[password]" value="" id="login-form-password">
  </div>
  <input type="submit" name="" value="login!">
</form>
