<h1>Create New Author</h1>
<form action="/authors" method="post">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="author[name]" id="name">
  </div>
  <div>
    <label for="age">Age: </label>
    <input type="text" name="author[age]" id="age">
  </div>
  <div>
    <label for="username">Age: </label>
    <input type="text" name="author[username]" id="username">
  </div>
  <div>
    <label for="password">Age: </label>
    <input type="text" name="author[password]" id="password">
  </div>
  <input type="submit" value="Create Author">
</form>
